<ion-content  [ngClass]="{'no-content': !prospectingStep}">
    <form *ngIf="prospectingStep" name="prospect-form" class="modal-form" (ngSubmit)="onSubmit($event)">
        <div class="header">
            <ion-label>
                {{ (!orgProspectingStep ? 'newStep' : 'edit') | translate }} {{ orgProspectingStep.name }}
            </ion-label>
        </div>
        <div class="content">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-label translate>name</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-input name="name" type="text" placeholder="name"
                                [(ngModel)]="prospectingStep.name" required>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label translate>description</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item>
                            <ion-textarea name="description" type="text" placeholder="description"
                                [(ngModel)]="prospectingStep.description">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label translate translateParams="{point: 'A'}">point</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item>
                            <ion-textarea name="pointA" placeholder="Starting Point"
                                [(ngModel)]="prospectingStep.pointA">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label translate translateParams="{point: 'B'}">point</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item>
                            <ion-textarea name="pointB" placeholder="Step Goal"
                                [(ngModel)]="prospectingStep.pointB">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label translate>tools</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item>
                            <ion-textarea name="tools" placeholder="Tools Needed"
                                [(ngModel)]="prospectingStep.tools">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="footer">
            <ion-button type="button" size="small" role="cancel" 
                (click)="dismiss()" color="primary" translate> cancel 
            </ion-button>
            <ion-button type="submit" size="small" role="submit" color="success">
                {{ (!orgProspectingStep ? 'add' : 'save') | translate }} 
            </ion-button>
        </div>
    </form>
</ion-content>

