<ion-card-subtitle>Goal {{ budget.goal }}</ion-card-subtitle>
<ion-list>
    <ion-list-header>
        <ion-label>Incomes:</ion-label>
        <ion-item>
            <ion-input type="text" (input)="filterIncomeSources($event.target.value)"></ion-input>
        </ion-item>
    </ion-list-header>
    <ion-item *ngFor="let incomeSource of budget.incomeSources">
        <ion-icon name="cash"></ion-icon>
        <ion-label>
            {{ incomeSource.name }}, 
            ${{ incomeSource.value }}, 
            {{ incomeSource.type }}
            <span *ngIf="incomeSource.date">
                <ion-icon name="alarm"></ion-icon> date {{ incomeSource.date }}
            </span>
        </ion-label>
    </ion-item>
</ion-list>
<ion-list>
    <ion-list-header>
        <ion-label>Spences: </ion-label>
        <ion-item>
            <ion-input type="text" (input)="filterSpences($event.target.value)"></ion-input>
        </ion-item>
    </ion-list-header>
    <ion-item *ngFor="let spence of budget.spences">
        <ion-icon name="card"></ion-icon>
        <ion-label>
            {{ spence.name }}, 
            ${{ spence.value }},
            {{ spence.type }}
            <span *ngIf="spence.date">
                <ion-icon name="alarm"></ion-icon> Due Date {{ spence.dueDate }}
            </span>
        </ion-label>
    </ion-item>
</ion-list>