<ion-content [ngClass]="{'no-content': !habit}">
    <form *ngIf="habit" name="prospect-form" class="modal-form" (ngSubmit)="onSubmit($event)">
        <div class="header">
            <ion-label>
                {{ (!orgHabit ? 'newHabit' : 'edit') | translate }} {{ habit.name }}
            </ion-label>
        </div>
        <div class="content">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-label translate>name</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-input name="name" type="text" placeholder="name"
                                [(ngModel)]="habit.name" required>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label translate>description</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item>
                            <ion-textarea name="description" type="text" placeholder="description"
                                [(ngModel)]="habit.description">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label translate>timeGoals</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12">
                        <ion-item>
                            <ion-input name="time-goal" type="number" placeholder="15min"
                                [(ngModel)]="habit.timeGoal">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <ion-item>
                            <ion-label translate>frequency</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-select name="frequency" [(ngModel)]="habit.frequency" placeholder="Select Frequency">
                                <ion-select-option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="footer">
            <ion-button type="button" size="small" role="cancel" 
                (click)="dismiss()" color="primary" translate> cancel 
            </ion-button>
            <ion-button type="submit" size="small" role="submit" color="success">
                {{ (!orgHabit ? 'add' : 'save') | translate }} 
            </ion-button>
        </div>
    </form>
</ion-content>
