<headbar>Budgets</headbar>
<ion-content [ngClass]="{'no-content': !budgets}">
    <div class="padding-8 full right">
        <ion-button type="button" shape="round" size="small" (click)="addBudget()">Add Budget</ion-button>
    </div>
    <ion-list *ngIf="budgets">
        <ion-radio-group>
            <ng-container *ngFor="let budget of budgets.reverse()">
                <budget-card [(budget)]="budget" [removeBudget]="removeBudget.bind(this)" [updateBudgets]="updateBudgets.bind(this)"></budget-card>
            </ng-container>
        </ion-radio-group>
    </ion-list>
</ion-content>