<ion-content>
    <form name="new-spence-form" class="modal-form" (ngSubmit)="onSubmit($event)">
        <div class="header">
            <ion-label> {{ !spence ? 'New Spence' : 'Edit ' + spence.name }} </ion-label>
        </div>
        <div class="content">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-label>Name</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-input name="name" type="text" placeholder="name"
                                [(ngModel)]="spence.name" required>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-label>Value</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-input name="value" type="number" placeholder="value"
                                [(ngModel)]="spence.value" required>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-label>Type</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-select name="type" [(ngModel)]="spence.type"
                                placeholder="Select Type..." required>
                                <ion-select-option value="Recurrent" selected>Recurrent</ion-select-option>
                                <ion-select-option value="Occasional">Occasional</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-label>Due Date</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" size-sm>
                        <ion-item>
                            <ion-datetime placeholder="YYYY-MM-DD" format="YYYY-MM-DD"
                                name="date" [(ngModel)]="spence.dueDate" 
                                [required]="spence.type === 'Recurrent'">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="footer">
            <ion-button type="button" size="small" role="cancel" 
                (click)="dismiss()" color="primary"> Cancel 
            </ion-button>
            <ion-button type="submit" size="small" role="submit" color="success">
                {{ !spence ? 'Add' : 'Save' }} 
            </ion-button>
        </div>
    </form>
</ion-content>