<ion-content [ngClass]="{'no-content': !spence}">
    <form *ngIf="spence" name="spence-form" class="modal-form" (ngSubmit)="onSubmit($event)">
        <div class="header" translate>
            <ion-label> {{ (!orgSpence ? 'newSpence' : 'edit') | translate }} {{ spence.name }} </ion-label>
        </div>
        <div class="content">
            <ion-grid>
                <ion-row>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-label translate>name</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-input name="name" type="text" placeholder="name"
                                [(ngModel)]="spence.name" required>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-label translate>value</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-input name="value" type="number" placeholder="value"
                                [(ngModel)]="spence.value" required>
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-label translate>type</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-select name="type" [(ngModel)]="spence.type"
                                placeholder="Select Type..." required>
                                <ion-select-option value="Recurrent" selected translate>recurrent</ion-select-option>
                                <ion-select-option value="Occasional" translate>occasional</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-label translate>dueDate</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col size="12" >
                        <ion-item>
                            <ion-datetime placeholder="YYYY-MM-DD" format="YYYY-MM-DD"
                                name="date" [(ngModel)]="spence.dueDate" 
                                [required]="spence.type === 'Recurrent'">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="footer">
            <ion-button type="button" size="small" role="cancel" 
                (click)="dismiss()" color="primary" translate>cancel 
            </ion-button>
            <ion-button type="submit" size="small" role="submit" color="success">
                {{ (!orgSpence ? 'add' : 'save') | translate }} 
            </ion-button>
        </div>
    </form>
</ion-content>