<headbar>prospects.title</headbar>
<ion-content [ngClass]="{'no-content': !prospects || !prospects.length}">
    <div class="padding-8 full right">
        <ion-button type="button" shape="round" size="small" (click)="addProspect()" translate>prospects.addProspect</ion-button>
    </div>
    <ion-list *ngIf="prospects && prospectingSteps" lines="full">
        <ion-list-header>
            <ion-label translate>prospects.prospects </ion-label>
            <ion-input type="text" clear-input="true" placeholder="Prospect name..."
                (ionInput)="filterProspects($event.target.value)"
                (ionChange)="filterProspects($event.target.value)">
            </ion-input>
        </ion-list-header>
        <ion-item (swipeLeft)="deleteProspect(prospect)" class="ion-no-padding no-inner-padding" *ngFor="let prospect of prospects">
            <ion-grid class="ion-no-padding">
                <ion-row>
                    <ion-col sizeXs="3" sizeSm="2" size="1">
                        <ion-avatar>
                            <img [src]="prospect.image ? prospect.image : '/assets/avatar.svg'" />
                        </ion-avatar>
                    </ion-col>
                    <ion-col size="9" sizeXs="7" sizeSm="8"> 
                        <ion-label class="ion-margin-end">
                            <h1>{{ prospect.name }}</h1>
                            <ion-text color="primary"><h5 class="underline-text cursor-pointer" (click)="viewStep(prospect)"><ion-icon name="thermometer"></ion-icon>{{ prospectingSteps[prospect.step].name }}</h5></ion-text>
                            <p><a [href]="'tel:' + prospect.phone"><ion-icon name="call"></ion-icon>{{ prospect.phone }}</a></p>
                            <p><a [href]="'mailto:' + prospect.email"><ion-icon name="mail"></ion-icon>{{ prospect.email }}</a></p>
                        </ion-label>
                    </ion-col>
                    <ion-col sizeXs="2" size="1">
                        <ion-grid class="ion-no-padding">
                            <ion-row>
                                <ion-col class="ion-text-end" size="6" sizeXs="12">
                                    <ion-icon color="danger" size="large" name="trash" (click)="deleteProspect(prospect)"></ion-icon>
                                </ion-col>
                                <ion-col class="ion-text-end" size="6" sizeXs="12">
                                    <ion-icon color="success" size="large" name="create" mode="md" (click)="editProspect(prospect)"></ion-icon>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="steps-container" size-md="10" offset-md="1.5">
                        <ion-range class="ion-no-padding ion-padding-horizontal" snaps pin ticks mode="ios" [(ngModel)]="prospect.step" min="0" [max]="prospectingSteps.length - 1" step="1">
                            <ion-icon size="small" slot="start" name="thermometer"></ion-icon>
                            <ion-icon slot="end" name="thermometer"></ion-icon>
                        </ion-range>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>