<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Prospects.
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="padding-8 full right">
        <ion-button type="button" shape="round" size="small" (click)="addProspect()">Add Prospect</ion-button>
    </div>
    <ion-list>
        <ion-list-header>
            <ion-label>Prospects: </ion-label>
            <ion-input type="text" clear-input="true" placeholder="Prospect name..."
                (ionInput)="filterProspects($event.target.value)"
                (ionChange)="filterProspects($event.target.value)">
            </ion-input>
        </ion-list-header>
        <ion-item class="ion-no-padding" *ngFor="let prospect of prospects">
            <ion-avatar class="ion-margin-horizontal">
                <img [src]="prospect.image ? prospect.image : '/assets/avatar.svg'">
            </ion-avatar>
            <ion-label class="ion-margin-end">
                <h1>{{ prospect.name }}</h1>
                <h5>{{ prospectingSteps[prospect.step].name }}</h5>
                <p>{{ prospect.phone }}</p>
                <p>{{ prospect.email }}</p>
            </ion-label>
            <span>
                <ion-icon color="danger" size="large" name="trash" (click)="deleteProspect(prospect)"></ion-icon><br />
                <ion-icon color="secondary" size="large" name="eye" (click)="viewProspect(prospect)"></ion-icon>
            </span>
        </ion-item>
    </ion-list>
</ion-content>