<ion-content [ngClass]="{'no-content': !records || !records.length}">
    <ion-item *ngIf="records" lines="full" class="ion-text-center">
        <ion-label>
            {{ 'recordFor' | translate }} {{ habitName }} 
        </ion-label>
        <ion-icon slot="end" color="blue" name="close-circle" (click)="dismiss()"></ion-icon>
    </ion-item>
    <div class="content">
        <ion-list lines="full" *ngIf="records">
            <ion-list-header>
                <ion-label translate>date </ion-label>
                <ion-input type="text" clear-input="true" placeholder="Search..."
                    (ionInput)="filterHabitsRecords($event.target.value)"
                    (ionChange)="filterHabitsRecords($event.target.value)">
                </ion-input>
            </ion-list-header>
            <ion-item translate>
                recordsFor
                <ion-select [(ngModel)]="from" (ionChange)="buildRecords()">
                    <ion-select-option [value]="30" translate translateParams="{days: 30}">lastDays</ion-select-option>
                    <ion-select-option [value]="60" translate translateParams="{days: 60}">lastDays</ion-select-option>
                    <ion-select-option [value]="90" translate translateParams="{days: 90}">lastDays</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item *ngFor="let record of records" [color]="record.done ? 'primary' : 'danger'">
                <ion-grid>
                    <ion-row>
                        <ion-col size="1">
                            <ion-icon name="clipboard"></ion-icon>
                        </ion-col>
                        <ion-col class="ion-text-left">
                            <ion-label>
                                {{ record.date }}
                            </ion-label>
                        </ion-col>
                        <ion-col size="1">
                            <ion-icon [name]="record.done ? 'checkmark-circle-outline' : 'close-circle-outline'"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>
</ion-content>