<headbar>settings.title</headbar>

<ion-content>
    <ion-item>
        <ion-label translate> settings.language </ion-label>
        <ion-select class="ignore-width" [(ngModel)]="language" (ionChange)="setLanguage()">
          <ion-select-option value="en" translate>settings.english</ion-select-option>
          <ion-select-option value="es" translate>settings.spanish</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item lines="full">
        <ion-button expand="block" class="ion-padding-horizontal reset-button" color="light" (click)="doReset()">Reset App</ion-button>
    </ion-item>
</ion-content>
