<ion-card-subtitle>
    <ion-label>Limit </ion-label> {{ budget._limit }} <br />
    <ion-label>Start Date </ion-label> {{ budget.startDate }}
</ion-card-subtitle>
<ion-list>
    <ion-list-header>
        <ion-label>Incomes Sources:</ion-label>
        <ion-input type="text" clear-input="true" placeholder="Search..."
            (ionInput)="filterIncomeSources($event.target.value)"
            (ionChange)="filterIncomeSources($event.target.value)">
        </ion-input>
    </ion-list-header>
    <ion-item *ngFor="let incomeSource of incomeSources" (click)="addToIncomeSource(incomeSource)">
        <ion-icon *ngIf="incomeSource.type === 'Variable'" 
            color="warning" name="add">
        </ion-icon>
        <ion-icon name="cash"></ion-icon>
        <ion-label>
            {{ incomeSource.name }}, 
            ${{ incomeSource.value }}, 
            {{ incomeSource.type }}
            <span *ngIf="incomeSource.date">
                <ion-icon name="alarm"></ion-icon> date {{ incomeSource.date }}
            </span>
        </ion-label>
    </ion-item>
</ion-list>
<ion-list>
    <ion-list-header>
        <ion-label>Spences: </ion-label>
        <ion-input type="text" clear-input="true" placeholder="Search..."
            (ionInput)="filterSpences($event.target.value)"
            (ionChange)="filterSpences($event.target.value)">
        </ion-input>
    </ion-list-header>
    <ion-item *ngFor="let spence of spences" (click)="addToSpence(spence)">
        <ion-icon *ngIf="spence.type === 'Occasional'"
            color="warning" name="add-circle-outline">
        </ion-icon>
        <ion-icon name="card"></ion-icon>
        <ion-label>
            {{ spence.name }}, 
            ${{ spence.value }},
            {{ spence.type }}
            <span *ngIf="spence.date">
                <ion-icon name="alarm"></ion-icon> Due Date {{ spence.dueDate }}
            </span>
        </ion-label>
    </ion-item>
</ion-list>