.budget-progress-container {
    position: relative;
    width: 100%;
    .budget-limit, .budget-spending {
        display: inline-block;
        padding: 0 16px;
        height: 24px;
        width: 100%;
        border-radius: 25px;
        opacity: .6;
    }
    .budget-spending {
        position: absolute;
        color: #fff;
        left: 0;
        width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .budget-limit {
        background: #ccc;
        border: 1px solid #737373;
    }
}
