$bar_green: #4e9c4e;
$bar_blue: #6a69c7;
$bar_orange: #daa677;
$bar_red: #c74b4b;
 

.budget-progress-container {
    position: relative;
    width: 100%;
    .budget-limit, .budget-spending {
        display: inline-block;
        padding: 0 16px;
        height: 24px;
        width: 100%;
        border-radius: 25px;
    }
    .budget-spending {
        position: absolute;
        color: #fff;
        left: 0;
        width: 0;
        &.great {
            background: $bar_green;
        }
        &.good {
            background: $bar_blue;
        }
        &.careful {
            background: $bar_orange;
        }
        &.bad {
            background: $bar_red;
        }
    }
    .budget-limit {
        background: #ccc;
        border: 1px solid #737373;
    }
    label, ion-label {
        &.great {
            color: $bar_green;
        }
        &.good {
            color: $bar_blue;
        }
        &.careful {
            color: $bar_orange;
        }
        &.bad {
            color: $bar_red;
        }
    }
}
