$green: #4e9c4e;
$blue: #6a69c7;
$orange: #daa677;
$red: #c74b4b;
 

.budget-progress-container {
    position: relative;
    width: 100%;
    .budget-limit, .budget-spending {
        display: inline-block;
        padding: 0 16px;
        height: 24px;
        width: 90%;
        border-radius: 25px;
    }
    .budget-spending {
        position: absolute;
        color: #fff;
        left: 0;
        width: 0;
        &.great {
            background: $green;
        }
        &.good {
            background: $blue;
        }
        &.careful {
            background: $orange;
        }
        &.bad {
            background: $red;
        }
    }
    .budget-limit {
        background: #ccc;
        border: 1px solid #737373;
    }
    label, ion-label {
        &.great {
            color: $green;
        }
        &.good {
            color: $blue;
        }
        &.careful {
            color: $orange;
        }
        &.bad {
            color: $red;
        }
    }
}
