<div class="budget-progress-container">
    <ion-grid>
        <ion-row>
            <ion-col class="left">
                <ion-label [ngClass]="spendingColor">Spences </ion-label>
            </ion-col>
            <ion-col class="right">
                <ion-label color="dark">Budget Limit</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="budget-limit right">
        ${{ budget.limit }}
    </div>
    <div #spendingBar [ngClass]="['budget-spending', 'right', spendingColor]">
        ${{ totalSpending }} 
    </div>
</div>
