.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}

.get-started {
    color: #2d67b2;
    display: inline-block;
    vertical-align: middle;
    line-height: 15;
    text-decoration: underline;
}