<ion-card>
    <ion-card-header>
        <ion-card-title>
            <ion-grid>
                <ion-row>
                    <ion-col class="card-title-side">
                        <ion-radio mode="md" [(checked)]="budget.active"></ion-radio>
                        {{ budget.name }}
                    </ion-col>
                    <ion-col class="card-title-side right" size="2">
                        <ion-icon name="trash" color="danger" (click)="removeBudget(budget)"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="card-title-side right">
                        <span class="card-tab-link" 
                            [ngClass]="{'active': isSummary() }"
                            (click)="setSummaryMode()">
                            <ion-icon name="paper"></ion-icon>
                        </span>
                        <span class="card-tab-link" 
                            [ngClass]="{'active': isStats() }"
                            (click)="setStatsMode()">
                            <ion-icon name="stats"></ion-icon>
                        </span>
                        <span class="card-tab-link" 
                            [ngClass]="{'active': isEdit() }"
                            (click)="setEditMode()">
                            <ion-icon [name]="isEdit() ? 'save' : 'create'"></ion-icon>
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ng-container [ngSwitch]="mode">
            <summary *ngSwitchCase="'summary'" [budget]="budget"></summary>
            <edit *ngSwitchCase="'edit'" [budget]="budget" (budgetChange)="presaveBudget(budget)"></edit>
            <stats *ngSwitchCase="'stats'" [budget]="budget"></stats>
            <summary *ngSwitchDefault [budget]="budget"></summary>
        </ng-container>
    </ion-card-content>
</ion-card>