<ion-card [ngClass]="{'budget-card__modal-mode--height ion-no-padding ion-no-margin': budget.snapshot}">
    <ion-card-header>
        <ion-card-title>
            <ion-grid>
                <ion-row>
                    <ion-col class="card-title-side">
                        <ion-radio *ngIf="!budget.snapshot" mode="md" [(checked)]="budget.active"></ion-radio>
                        {{ budget.snapshot || budget.name }}
                    </ion-col>
                    <ion-col class="card-title-side right" size="2">
                        <ion-icon *ngIf="!budget.snapshot; else closeButton" name="trash" color="danger" (click)="removeBudget(budget)"></ion-icon>
                        <ng-template #closeButton>
                            <ion-icon color="blue" name="close-circle" (click)="dismiss()"></ion-icon>
                        </ng-template>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="card-title-side right">
                        <span class="card-tab-link" 
                            [ngClass]="{'active': isSummary() }"
                            (click)="setSummaryMode()">
                            <ion-icon name="paper"></ion-icon>
                        </span>
                        <span class="card-tab-link" 
                            [ngClass]="{'active': isStats() }"
                            (click)="setStatsMode()">
                            <ion-icon name="stats"></ion-icon>
                        </span>
                        <span *ngIf="!budget.snapshot" class="card-tab-link" 
                            [ngClass]="{'active': isEdit() || isSave() }"
                            (click)="setEditSaveMode()">
                            <ion-icon mode="md" [name]="isSave() ? 'save' : 'create'"></ion-icon>
                        </span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ng-container [ngSwitch]="mode">
            <summary *ngSwitchCase="'summary'" [budget]="budget"></summary>
            <edit *ngIf="mode == 'edit' || mode == 'save'"
                [budget]="budget" (budgetChanged)="setEditSaveMode($event);"
                [saveBudget]="saveBudget" [saveEvent]="saveEvent">
            </edit>
            <stats *ngSwitchCase="'stats'" [budget]="budget"></stats>
        </ng-container>
    </ion-card-content>
</ion-card>