<headbar>reminders.title</headbar>
<ion-content [ngClass]="{'no-content': !reminders || !reminders.length}">
    <ion-list *ngIf="reminders">
        <ion-list-header>
            <ion-label translate>reminders.reminders </ion-label>
            <ion-input type="text" clear-input="true" placeholder="Reminder name..."
                (ionInput)="filterReminders($event.target.value)"
                (ionChange)="filterReminders($event.target.value)">
            </ion-input>
        </ion-list-header>
        <reminder (swipeLeft)="dismissReminder(reminder)" (dismissReminder)="dismissReminder(reminder)" [reminder]="reminder" *ngFor="let reminder of reminders"></reminder>
    </ion-list>
</ion-content>
