/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-icon {
    margin-right: 8px;
}

ion-title,
ion-card-title,
ion-card-subtitle {
    font-weight: 500;
    text-transform: capitalize;
}

ion-input,
ion-textarea,
ion-select,
ion-datepicker {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.card-title-side {
    min-width: 118px;
    text-overflow: 'ellipse';
    overflow: hidden;
    &.right {
        text-align: right;
    }
}

.card-tab-link {
    padding: 0 16px;
    &.active {
        border-bottom: 1px solid var(--ion-color-blue);
    }
    ion-icon {
        margin: 0 auto;
    }
}

.modal-form {
    &, fieldset {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .footer, .header, .content {
        display: block;
        width: 100%;
    }
    .content {
        height: calc(100% - 96px);
        padding: 16px;
        overflow: auto;
    }
    .header,
    .footer {
        text-align: center;
        line-height: 48px;
        height: 48px;
        label, ion-label {
            vertical-align: middle;
            font-weight: 500;
            color: #a3a39e;
        }
        button, ion-button {
            width: 48%;
        }
    }
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.padding-8 {
    &.full {
        padding: 8px;
    }
    &.vertical {
        padding: 8px 0;
    }
    &.horizontal {
        padding: 0 8px;
    }
    &.left {
        padding-left: 8px;
    }
    &.top {
        padding-top: 8px;
    }
    &.right {
        padding-right: 8px;
    }
    &.bottom {
        padding-bottom: 8px;
    }
}

.padding-16 {
    &.full {
        padding: 16px;
    }
    &.vertical {
        padding: 16px 0;
    }
    &.horizontal {
        padding: 0 16px;
    }
    &.left {
        padding-left: 16px;
    }
    &.top {
        padding-top: 16px;
    }
    &.right {
        padding-right: 16px;
    }
    &.bottom {
        padding-bottom: 16px;
    }
}

.editable {
    border-bottom: 1px solid var(--ion-color-blue);
    cursor: pointer;
    color: var(--ion-color-blue);
}


.great {
    color: var(--ion-color-green) !important;
    --color: var(--ion-color-green) !important;
}
.good {
    color: var(--ion-color-blue) !important;
    --color: var(--ion-color-blue) !important;
}
.careful {
    color: var(--ion-color-orange) !important;
    --color: var(--ion-color-orange) !important;
}
.bad {
    color: var(--ion-color-red) !important;
    --color: var(--ion-color-red) !important;
}

.great-background {
    --background: var(--ion-color-green) !important;
    background: var(--ion-color-green) !important;
    color: white;
    --color: white;
}
.good-background {
    --background: var(--ion-color-blue) !important;
    background: var(--ion-color-blue) !important;
    color: white;
    --color: white;
}
.careful-background {
    --background: var(--ion-color-orange) !important;
    background: var(--ion-color-orange) !important;
    color: white;
    --color: white;
}
.bad-background {
    --background: var(--ion-color-red) !important;
    background: var(--ion-color-red) !important;
    color: white;
    --color: white;
}

.budget-card__modal-mode--height {
    height: 100%;
}

.no-inner-padding {
    --inner-padding-start: 0 !important;
    --inner-padding-end: 0 !important;
}

.underline-text {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.item-lines-both {
    --border-width: 1px 0;
}