<div *ngIf="spencesData">
    <canvas [chartize]="spencesData"></canvas>
</div>
<budget-progress [budget]="budget"></budget-progress>
<projections [budget]="budget"></projections>

<ion-list *ngIf="!budget.snapshot" lines="none" class="ion-margin-vertical">
    <ion-list-header>
        <ion-label>Snapshots: </ion-label>
        <ion-input type="text" clear-input="true" placeholder="Search..."
            (ionInput)="filterSnapshots($event.target.value)"
            (ionChange)="filterSnapshots($event.target.value)">
        </ion-input>
    </ion-list-header>
    <ion-item (click)="openSnapshot(snapshot)" *ngFor="let snapshot of snapshots" [class]="snapshot.status + '-background'" detail>
        <ion-label> 
            <ion-icon name="clock"></ion-icon>{{ snapshot.snapshot }},
            <ion-icon name="pulse"></ion-icon>{{ snapshot.status }},
            <ion-icon name="calculator"></ion-icon>{{ snapshot.name }},
            ${{ snapshot._limit }},
            <ion-icon name="cash"></ion-icon>{{ snapshot.totalIncome }},
            <ion-icon name="card"></ion-icon>{{ snapshot.totalSpending }}
        </ion-label>
    </ion-item>
</ion-list>