<ion-item>
    <ion-label>Budget name:</ion-label>
    <ion-input required type="text" [(ngModel)]="budget.name"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Budget goal:</ion-label>
    <ion-input required type="number" [(ngModel)]="budget.goal"></ion-input>
</ion-item>
<ion-list>
    <ion-list-header>
        <ion-grid>
            <ion-row>
                <ion-col>
                    Income Sources
                </ion-col>
                <ion-col class="card-title-side right">
                    <ion-icon size="large" color="primary" name="add"
                        (click)="addIncomeSource()">
                    </ion-icon>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="text" clear-input="true" placeholder="Search..."
                        (ionInput)="filterIncomeSources($event.target.value)"
                        (ionChange)="filterIncomeSources($event.target.value)">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list-header>
    <ion-item *ngFor="let incomeSource of budget.incomeSources">
        <ion-icon size="large" color="danger" name="remove"
            (click)="removeIncomeSource(incomeSource)">
        </ion-icon>
        <ion-icon name="cash"></ion-icon>
        <ion-label>
            {{ incomeSource.name }}, 
            ${{ incomeSource.value }}, 
            {{ incomeSource.type }}
            <span *ngIf="incomeSource.date">
                <ion-icon name="alarm"></ion-icon> date {{ incomeSource.date }}
            </span>
        </ion-label>
    </ion-item>
</ion-list>
<ion-list>
    <ion-list-header>Spences</ion-list-header>
</ion-list>